.Your-answer {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px;
  padding: 20px 20px;
  margin-top: 50px;
}

.editor {
  height: 450px;
  padding: 15px;
}

.Your-answer button {
  width: 150px;
  border-radius: 2rem;
  padding: 5px 15px;
  background-color: #ef6530;
  border: none;
  color: #fff;
  height: 30px;
  font-size: 1rem;
  margin-top: 15px;
}

.YAButton {
  display: flex;
  justify-content: flex-end;
}
