.Title {
  padding: 6px 9px;
  height: 20px;
}

.Split {
  margin: 10px 0;
}

.Border {
  border: 2px solid #dfe9ec;
  border-radius: 3px;
  background-color: #fcfdfe;
}

::placeholder {
  font-size: 14px;
}

.Heading {
  color: #0773ee;
  font-size: 24px;
}

.Area {
  height: 460px;
}

.Left-heading {
  color: #0773ee;
  font-size: 20px;
  font-weight: 500;
}

.Answer-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 16px 0;
}

.Helper-Fields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 25px;
}

.Upload-field {
  align-items: center;
  width: 100%;
  height: 40px;
}

textarea {
  font-size: 16px;
}

.Question-Content-Container {
  display: flex;
  flex-direction: row;
}

.Question-Content-Container .Fields {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.Answer-field .HelperUrl-Field {
  display: flex;
  flex-direction: column;
  width: 70%;
}