$color-primary: #1952b6;
$color-primary-dark: #113e8d;
$color-primary-light: #3a74d8;

$color-green: #2cb63e;
$color-orange: #f58904;
$color-grey-light: #ebebeb;
$color-grey-dark: darken($color-grey-light, 7%);
$color-white: #fff;
$color-yellow: #f8b324;
$color-black: #000;