.Replies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ebebeb;
  height: 50px;
  padding: 5px 12px;
  border-radius: 5px;
}

.Question {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 0;
  margin: 4px 0;
}

.Replies p {
  margin: 0;
  font-size: 12px;
}

.Content p {
  margin: 0;
  display: flex;
  justify-content: initial;
  text-align: initial;
  font-size: 13px;
  color: #464646;
  line-height: 1rem;
}

.Content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Content {
  width: 100%;
  padding: 0 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content p:hover {
  color: #f38632;
}

.Content .SubContent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 75%;
}
