.Toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logobttn {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 500;
}

nav {
  width: 100%;
}