.Header-login {
  height: 275px;
  background-color: #1051BF;
}

.Header-logout {
  height: 265px;
  background-color: #1051BF;
  padding-top: 10px;
}

.NavAvatar {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .Header {
    flex-flow: row;
  }
}
