.UserContainer {
  border-bottom: 1px solid #d7d7d7;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.User-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 20px;
}

.Question-content {
  padding: 15px 5px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.Question-content p {
  text-align: start;
  font-size: 14px;
}

.User-card {
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
}

.EditContainer {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.EditContainer a {
  text-align: center;
  width: 70px;
  padding: 5px 15px;
  font-size: 20px;
}

.EditContainer a:hover {
  text-decoration: none;
}

.User-image {
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}

.IsSolved {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  font-size: 35px
}

.Solved {
  color: #39B54A; 
}

.Unsolved {
  color: grey;
}

.ImageContainer {
  margin-bottom: 25px;
}

.LikedContainer {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
  align-items: center;
  font-size: 21px;
}

.LikedContainer i{
  font-size: 20px;
  cursor: pointer;
}

.LikedContainer i:hover {
  color: red;
}

.LikedContainer .liked {
  color: red;
}