.SubHeader {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.Text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-left: 225px;
}

.Text h1 {
  margin: 0;
  padding: 0;
}

.Text p {
  font-size: 14px;
  margin: 5px 0;
}

.SubHeader input {
  height: 50px;
  border-radius: 4px;
  border: none;
  width: 540px;
  padding: 0 10px;
  font-size: 18px;
}

.NewQuestion-SubHeader {
  display: flex;
  flex-direction: row;
  height: 214px;
}

.SubHeader-Text {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
}

.SubHeader-Text {
  color: #fff;
}

.SubHeader-Text span {
  font-size: 22px;
  font-weight: 300;
}

.SubHeader-Text p {
  font-size: 36px;
  margin: 0;
}