::placeholder {
  color: #c9c6c6;
}

.Search {
  font-size: 14px;
}

.Search span {
  font-size: 16px;
}

.Search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 50px;
}

.SearchBar button {
  background-color: #f8b324;
  color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  margin-left: 10px;
  padding: 0 15px;
}

.SearchBar button :active,
.SearchBar button :focus {
  border: none;
  box-sizing: border-box;
}