.Avatar {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #f38632;
  margin: 5px 0;
}

.Jf-logo {
  height: 33px;
}

.Jf-podo {
  height: 150px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.User-logo {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: cover;
}

.Answer-podo {
  height: 175px;
}
