.Head {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1051bf;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.GoBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.GoBack a {
  text-decoration: none;
  color: #1051bf;
  font-weight: 600;
  font-size: 25px;
}

.Left p {
  text-align: start;
  font-size: 14px;
  line-height: 1.4rem;
}

.Left {
  width: 22%;
  margin-right: 30px;
}

.Ask {
  background: #1bb32f;
  color: #fff;
  width: 250px;
  padding: 12px 0;
  text-align: center;
  border: none;
  border-radius: 2rem;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.2rem;
  height: auto;
  margin: 20px 0;
  font-weight: 500;
  outline: none;
}

.Container .Mid {
  width: 60%;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
}

.Mid span {
  text-align: start;
  font-size: 23px;
  color: #1051bf;
  font-weight: 600;
}

.Main {
  width: 75%;
  margin-bottom: 150px;
}

.user {
  display: flex;
  flex-direction: row;
}

.fields {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 0;
}

.fields input {
  width: 250px;
  height: 29px;
  padding-left: 10px;
  margin: 1px;
  border: 1px solid #d4d4d4;
  line-height: 31px;
  border-radius: 5px;
}

.LeftTop,
.RightTop {
  width: 20%;
}

.MiddleTop {
  width: 60%;
}

.Left .Ask {
  width: 100%;
}

.Solve {
  background-color: #39b54a;
  color: white;
  border: none;
  border-radius: 25px;
  margin: 0 5px;
  padding: 10px 40px;
  font-size: 18px;
  outline: none;
}

.Solve:hover {
  background-color: white;
  font-weight: bold;
}

.Solve:hover {
  color: #39b54a;
}

.Solve:focus {
  outline: none;
}

#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;
  z-index: 999;

  visibility: hidden;
  opacity: 0;
}
#Overlay.open {
  visibility: visible;
  opacity: 1;
}

#Overlay:after {
  /* X button icon */
  content: "\2715";
  position: absolute;
  color: #fff;
  top: 10px;
  right: 20px;
  font-size: 2em;
}

.ZoomedImage {
  z-index: 9999;
  width: auto;
  height: 75%;
  margin: 5% 10%;
  background: transparent none 50% / contain no-repeat;
}

.goBackIcon {
  display: none;
}