.Head {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1051bf;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.GoBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.GoBack a {
  text-decoration: none;
  color: #1051bf;
  font-weight: 600;
  font-size: 25px;
}

.Left p {
  text-align: start;
  font-size: 14px;
  line-height: 1.4rem;
}

.Left {
  width: 22%;
  margin-right: 30px;
}

.Ask {
  background: #39b54a;
  color: #fff;
  width: 250px;
  padding: 12px 0;
  text-align: center;
  border: none;
  border-radius: 2rem;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.2rem;
  height: auto;
  margin: 20px 0;
  font-weight: 500;
  outline: none;
}

.Container .Mid {
  width: 60%;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
}

.Mid span {
  text-align: start;
  font-size: 23px;
  color: #1051bf;
  font-weight: 600;
}

.Main {
  width: 75%;
  margin-bottom: 150px;
}

.user {
  display: flex;
  flex-direction: row;
}

.fields {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 0;
}

.fields input {
  width: 250px;
  height: 29px;
  padding-left: 10px;
  margin: 1px;
  border: 1px solid #d4d4d4;
  line-height: 31px;
  border-radius: 5px;
}

.LeftTop,
.RightTop {
  width: 20%;
}

.MiddleTop {
  width: 60%;
}

.Left .Ask {
  width: 100%;
}
